<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is optimised for Acromedia's GitLab CI -->
<!-- For how to customize PHPUnit configuration, see core/tests/README.md. -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="[WEBROOT]/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!--
         Acromedia's GitLab CI automatically sets most of the following
         environment variables for us. To find out more see web/core/phpunit.xml.dist.

         <env name="SIMPLETEST_BASE_URL" value=""/>
         <env name="SIMPLETEST_DB" value=""/>
         <env name="BROWSERTEST_OUTPUT_DIRECTORY" value=""/>
         <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
         <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
         <env name="SYMFONY_DEPRECATIONS_HELPER" value="ignoreFile=.deprecation-ignore.txt"/>
    -->
  </php>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>
  <!-- Settings for coverage reports. -->
  <coverage>
    <include>
      <directory>./includes</directory>
      <directory>./lib</directory>
      <directory>./modules</directory>
      <directory>../modules</directory>
      <directory>../sites</directory>
    </include>
    <exclude>
      <directory>./modules/*/src/Tests</directory>
      <directory>./modules/*/tests</directory>
      <directory>../modules/*/src/Tests</directory>
      <directory>../modules/*/tests</directory>
      <directory>../modules/*/*/src/Tests</directory>
      <directory>../modules/*/*/tests</directory>
    </exclude>
  </coverage>
</phpunit>
